*{
  margin : 0;
  padding : 0;
  box-sizing : boarder-box;
}
html, body {
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  background-color: rgb(18, 18, 18);
}

#txt {
  color: white;
}

.sqrt {
  
}
