h1{
	font-size: 40px;
	font-family: 'Inter';
	/*color:white;*/
}

p{
	font-size: 20px;
	font-family: 'Inter';
	/*color:white;*/
}

img {
  border-radius: 50%;
}

.topright {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 20px;
}
